/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 11.5em;
	margin-bottom: 5em;
	border-bottom: 1em solid navy;
}
.main_logo{
	position:absolute;
	margin: 7px 0 0 5px;
	width: 30em;
	height: 12em;
	display: inline-block;
}

nav .login-section{
	float: right;
	padding-left: 0;
	margin: 0;
}

.navbar-text{
	margin: 0 10px 0 0;
	right:10px;
}

nav .login-section a{
	color: blue;
	text-decoration: none;
	position:absolute;
	right: 10px;
}

nav .nav ul{
	padding-left: 0;
	margin: 114px 10px 0 0;
	float: right;
	position: absolute;
	right: 10px;
}

nav .nav li{
	display: inline-block;
	font-size: 1.5em;
	line-height: 70px;
	height: 50px;
/*	border-bottom: 1px solid black;*/
}
nav .nav a{
	color: navy;
	text-decoration: none;
	padding: 0 2px 0 2px;
	float:right;
	display:block;
/*	transition: .25s background-color;*/
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
}

nav .nav a:hover{
	background-color: yellow;
	color:blue;
}
nav .nav li:hover{
	border-bottom: 1em solid blue;
}

@media screen and (max-width: 884px) {
	.nav ul {
		display:inline-block;
		width:100%;
		margin:0;
	}
	.nav li {
		background-color: green;
		display:inline-block;
		width:100%;
		margin:0;
	}
}






