<div class="box">
	<div class="box-content">
		<h1 class="title">Create a Wishlist</h1>
			<ul><% @wishlists.each do |wishlist| %>
			  <li><%= link_to wishlist.title, wishlist_path(wishlist) %>
				<%= link_to 'delete wishlist', wishlist, method: :delete %></li> 
			<%end%></ul>

			<%= render 'new' %>
	</div>
</div>
