<div class="box">
	<div class="box-content">
		<h1 class="title">Our Store</h1>
			<div class="info">
				<p>Opened on April 2, 1997, Toy Town carries unique, high-quality toys and gifts and delivers superior customer service.</p>
				<p>Our ever-expanding selection includes toys and gifts for all ages: baby toys, outdoor activities, puzzles, board games, educational toys, school supplies, and a large arts & crafts section ranging from simple finger paints to "Make Your Own Soda Pop" kits!</p>
				<p>Whatever your age, whatever your hobby, whatever the occasion, Toy Town has the perfect gift for you!</p>
			</div>
	</div>
</div>

