<h1 class="title" id="new">What's New</h1>
<div class="instagram">
	<!-- SnapWidget -->
	<script src="http://snapwidget.com/js/snapwidget.js"></script>
	<iframe src="http://snapwidget.com/in/?u=dG95dG93bmtifGlufDEyNXwzfDN8fG5vfDV8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=130315" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
</div>